body {
	padding-top:32px;
}

.top-titlebar {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 32px;
	background-color: #7a7c7c;
	-webkit-app-region: drag;
}

.top-titlebar-icon  {
	position: absolute;
	left: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.top-titlebar-text {
	position: absolute;
	left: 32px;
	width: 80%;
	margin-top: 6px;
	margin-bottom: 6px;
	font-style: Arial;
	font-size: 11pt;
	color: #ffffff;
}

.top-titlebar-close-button {
	position: absolute;
	right: 11px;
	width: 17px;
	height: 17px;
	margin-top: 6px;
	margin-bottom: 6px;
	-webkit-app-region: no-drag;
}

.top-titlebar-divider {
	position: absolute;
	left: 0px;
	top: 31px;
	width: 100%;
	height: 1px;
	background-color: #2a2c2c;
}